@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        <a href="@Url.Action("nuevaPersona", "Persona")">Nueva Persona</a>

        <hr />

        <table border="1">
            <thead>
                <tr>
                    <th>N. Documento</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Edad</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var persona in ViewBag.Lista)
                {
                    <tr>
                        <td>@persona.DocPersona</td>
                        <td>@persona.NomPersona</td>
                        <td>@persona.ApePersona</td>
                        <td>@persona.Edad</td>
                        <td>
                            <a href="@Url.Action("editaPersona", "Persona", new { @id = persona.IdPersona})">Editar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
